<header class="header">
  <div class="welcome">
    <h1>Welcome to the <span>Members-Only Message Board</span></h1>
  </div>
  <% if (user && user.name) { %>
  <div class="greeting">
    <p>Hi there, <span class="user-name"><%= user.name %></span></p>
  </div>
  <% } %>

  <nav class="navigation">
    <ul>
      <li><a href="/">home</a></li>
      <li><a href="/sign-up">sign up</a></li>
      <li><a href="/sign-in">sign in</a></li>
      <li><a href="/new-message">new message</a></li>
      <li><a href="">log out</a></li>
    </ul>
  </nav>
</header>
