<section class="messages-section">
  <h3 class="messages-heading">messages</h3>
  <div class="messages-container">
    <article class="message">
      <div class="message-content">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloribus,
          commodi aliquam ab nemo quibusdam eligendi.
        </p>
      </div>
      <button class="delete-message-button">Delete Message</button>
      <div class="message-data">
        <p class="message-author">Just some guy</p>
        <p class="message-time">12:00 PM</p>
      </div>
    </article>
    <article class="message">
      <div class="message-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt
          nulla inventore mollitia magnam praesentium, dicta ipsam, iure sit
          eligendi atque reiciendis earum libero, numquam ipsa placeat fugit
          ducimus. Libero, quam!
        </p>
      </div>
      <button class="delete-message-button">Delete Message</button>
      <div class="message-data">
        <p class="message-author">Just some guy</p>
        <p class="message-time">12:00 PM</p>
      </div>
    </article>
    <article class="message">
      <div class="message-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas at,
          incidunt minus debitis deleniti culpa.
        </p>
      </div>
      <button class="delete-message-button">Delete Message</button>
      <div class="message-data">
        <p class="message-author">Just some guy</p>
        <p class="message-time">12:00 PM</p>
      </div>
    </article>
    <article class="message">
      <div class="message-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt minus
          sit rerum ad obcaecati placeat, doloribus voluptates possimus
          asperiores adipisci?
        </p>
      </div>
      <button class="delete-message-button">Delete Message</button>
      <div class="message-data">
        <p class="message-author">Just some guy</p>
        <p class="message-time">12:00 PM</p>
      </div>
    </article>
    <article class="message">
      <div class="message-content">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae
          consectetur facere qui. Reprehenderit voluptatum earum dolorem culpa
          deserunt? Quibusdam, delectus.
        </p>
      </div>
      <button class="delete-message-button">Delete Message</button>
      <div class="message-data">
        <p class="message-author">Just some guy</p>
        <p class="message-time">12:00 PM</p>
      </div>
    </article>
    <article class="message">
      <div class="message-content">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. In nam, quos
          doloremque quis soluta nulla perspiciatis fuga. Soluta deleniti quis
          repudiandae nulla, non sint in.
        </p>
      </div>
      <button class="delete-message-button">Delete Message</button>
      <div class="message-data">
        <p class="message-author">Just some guy</p>
        <p class="message-time">12:00 PM</p>
      </div>
    </article>
  </div>
</section>
